*{
	color:red;
	font-family:Papyrus,fantasy;
	margin:0;
	padding:0;
}

.big_forms_div{
	width:1650px;
	/*border: 1px solid red;*/
}


.game_form,.record_form{
	margin-top: 50px;
	margin-right: 10px;
	margin-left: 10px;
	margin-bottom: 10px;
}

.game_form{
	float: left;
}

.record_form{
	float: left;
}




.container{
	background-color: black;
	border: dashed 1px blue;
	padding: 10px;
	width: 500px;
	height: 600px;	
}

.container div{
	margin: 10px;
	padding: 10px;
	/*border:solid 1px blue;*/
}

.container input[type=text]{
	width:100%;
	border: none;
	border-radius:10px;
    background:red;
	opacity:0.3;
	color:#00ff40;
}

.container input[type=text]:focus{
    background-color: #ff9900;
    outline: none;
	opacity:1;
	
}


.container input:valid{
	opacity:1;
	background-color:#009900;
	
}

.container select{
	background-color:#660000; 
	color:#00ff40;
	border:double;
	border-color:red;
}

.container option{
	background-color:#660000; 
	color:#00ff40;
}

.container button{
    background-color: #cc0000;
    color: #33cc00;
    padding: 16px 20px;
    margin: 8px 0;
    border: auto;
	border-color:orange;
	border-radius:10px;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
	font-family:Papyrus,fantasy;
	font-size:25px;
}

.container button:hover {
    opacity: 1;
}



/* Change the white to any color ;) */
.container input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #009900 inset;
}

/*Change text in autofill textbox*/
.container input:-webkit-autofill {
    -webkit-text-fill-color: #00ff40 !important;
}

/* Overwrite default styles of hr */
.container hr {
    border: 1px solid orange;
    margin-bottom: 25px;
	
}



.display_results{
	float:left;
	border: 3px solid orange;
	background-color: green;
	padding: 10px;
	width: 500px;
	height: 600px;
	margin-top: 50px;
	margin-right: 10px;
	margin-left: 10px;
	margin-bottom: 10px;
}

.display_results iframe{
	width:500px;
	height:600px;
	border: none;
}

.display_tables{
	clear:left;
	margin: 20px;
	width: 1600px;
	height:600px;
	border: 1px solid green;
	background-color: orange;
}



