*{
	margin:0;
	padding:0;
}


#nav{
	list-style-type: none;
	overflow:hidden;
	width:530px;
	margin:0px auto;
	
	
	
}

#nav li{
	width:120px;
	height:40px;
	margin:0px 4px;
	border:1px dotted red;
	border-radius:10px;
	float:left;
	background-color:black;

}



#nav li a{
	display:block;
	width:120px;
	height:40px;
	line-height:40px;
	text-decoration:none;
	color:red;
	text-align:center;
	
}

#nav li a.active{
	color:red;
	font-size:150%;
	background-color:#cc7a00;
	border-radius:10px;
}

#nav li a:hover{
	background-color:red;
	border-radius:10px;
	color:white;
}

